{% extends "base.html" %}
{% load staticfiles humanize chartjs %}

{% block title %}Dashboard{% endblock %}

{% block extra_head %}
<meta http-equiv="Refresh" content="60" />
{% endblock %}

{% block extra_css %}
<link href="{% static "css/dashboard.css" %}" rel="stylesheet" />
{% endblock %}

{% block extra_js %}
<script src="{% static "js/dashboard.js" %}"></script>
{% include "chartjs/chartjs_scripts.html" %}
{% endblock %}

{% block main %}

<div id="dashboard">

{% for agent in agents %}

<div class="agent_wrapper">

<table class="agent_title">
    <tr>
        <td><h2><abbr title="Agent version {{ agent.version }}, guid {{ agent.guid }}">{{ agent }}</abbr></h2></td>
        <td class="byline">
            {% if agent.last_checkin %}
            Last checkin {{ agent.last_checkin|naturaltime }}
            {% else %}
            Never checked in
            {% endif %}
        </td>
    </tr>
</table>

{% if agent.perflog_dataset.xaxis|length %}
{% line_chart agent.perflog_id chart_config=agent.perflog_dataset width=700 height=100 %}
{% else %}
<p>No performance data has been collected for this agent, or there is not enough data to display.</p>
{% endif %}

{% if agent.windows_services_shown.count == 0 %}

<p>There are no services configured for this agent.</p>

{% else %}

{% for service in agent.windows_services_shown %}
<div class="check">
{% with status=service.latest_log.status_pass %}

<div class="summary{% if not status %} selected{% endif %}">
    <div class="check-name" title="Last reported: {{ service.latest_log.timestamp|date:"Y-m-d H:i:s" }} ({{ service.latest_log.timestamp|naturaltime }})">{{ service }} service</div>

<div class="check-status {% if status %}good{% else %}bad{% endif %}">{% spaceless %}
    {% if status %}
    OK
    {% else %}
    FAIL
    {% endif %}
{% endspaceless %}</div> <!-- /.check-status -->

</div> <!-- /.summary -->

<div class="detail {% if status %}closed{% else %}open{% endif %}">
<table class="history">
    <thead>
        <tr>
            <th>Timestamp</th>
            <th>Expected</th>
            <th>Actual</th>
            <th>Action</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for log in service.latest_log_entries %}
        <tr>
            <td><abbr title="{{ log.timestamp|naturaltime }}">{{ log.timestamp|date:"Y-m-d H:i:s" }}</abbr></td>
            <td>{{ log.expected_status_h }}</td>
            <td>{{ log.actual_status_h }}</td>
            <td>{{ log.action_taken }}</td>
            {% if log.status_pass %}
            <td class="center good">OK</td>
            {% else %}
            <td class="center bad">FAIL</td>
            {% endif %}
        </tr>
        {% endfor %}
        <tr class="links">
            <td colspan="3"><a href="#">View more history ({{ service.log.count }} entries)</a></td>
            <td colspan="2" class="right"><a href="#" class="click-collapse">Collapse</a></td>
        </tr>
    </tbody>
</table>
</div> <!-- /.detail -->

{% endwith %}
</div> <!-- /.check -->

{% endfor %}

{% endif %}

</div>

{% endfor %} <!-- /for agents -->

</div> <!-- /#dashboard -->

{% endblock %}
